# Vivado project files
*.jou
*.log
*.str   
*.Xil/

# Vivado-generated project files
*.xpr
*.xml
*.html
*.backup.jou
*.backup.log

# Checkpoints, bitstreams, etc.
*.bit
*.bin
*.mcs
*.prm

# Simulation intermediates
*.wdb
*.wcfg
*.vcd
*.vvp

# Temporary directories
.tcl.history
*.tmp
*.temp
*.log
*.jou

# Other tool folders (common for FPGA workflows)
.cache/
.hw/
.srcs/*/ip/*/ui/
Vivado/KBSCE-Plotter.xpr
/Vitis/sw_to_led/build
